In [1]:
import pandas as pd

In [2]:
lab_results = pd.read_csv('data/lab_results_2006-2016.csv')
lab_results.dtypes

beach_name                     object
culture_sample_1_timestamp     object
culture_sample_1_reading      float64
culture_sample_2_timestamp     object
culture_sample_2_reading      float64
culture_reading_mean          float64
culture_sample_interval       float64
culture_note                  float64
dna_sample_timestamp           object
dna_sample_1_reading          float64
dna_sample_2_reading          float64
dna_reading_mean              float64
dna_test_id                   float64
latitude                      float64
longitude                     float64
year                            int64
dtype: object

In [4]:
lab_results['culture_sample_1_timestamp'] = pd.to_datetime(lab_results['culture_sample_1_timestamp'])
lab_results['culture_sample_2_timestamp'] = pd.to_datetime(lab_results['culture_sample_2_timestamp'])
lab_results['dna_sample_timestamp'] = pd.to_datetime(lab_results['dna_sample_timestamp'])
lab_results.head()

,beach_name,culture_sample_1_timestamp,culture_sample_1_reading,culture_sample_2_timestamp,culture_sample_2_reading,culture_reading_mean,culture_sample_interval,culture_note,dna_sample_timestamp,dna_sample_1_reading,dna_sample_2_reading,dna_reading_mean,dna_test_id,latitude,longitude,year
0,12th Street,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2016-08-20 12:40:00,236.0,147.0,186.3,2009.0,41.8638,-87.6083,2016
1,Rainbow,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2016-06-26 12:38:00,86.0,5.0,20.7,983.0,41.7580,-87.5510,2016
2,North Avenue,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2016-06-05 12:45:00,63.0,114.0,84.7,610.0,41.9148,-87.6273,2016
3,63rd Street,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2016-08-20 12:39:00,21.0,41.0,29.3,1989.0,41.7827,-87.5748,2016
4,North Avenue,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2016-06-11 13:18:00,145.0,112.0,127.4,703.0,41.9148,-87.6273,2016

In [5]:
lab_results['beach_name'].unique()

array(['12th Street', 'Rainbow', 'North Avenue', '63rd Street', 'Calumet',
       'Ohio Street', 'South Shore', 'Foster', 'Montrose', 'Osterman',
       'Oak Street', 'Howard', 'Rogers', '57th Street', 'Humboldt',
       'Oakwood', 'Leone', 'Juneway', 'North Shore', 'Fargo', 'Loyola',
       'Lane', 'Montrose Dog'], dtype=object)

In [6]:
# Set the beach you want to assess here
beach_to_analyze = 'Montrose'

In [7]:
beach_results = lab_results.loc[lab_results['beach_name'] == beach_to_analyze]
print("There are %s lab_results for this beach, out of a total of %s results across beaches."\
      % (str(len(beach_results)), str(len(lab_results))))

There are 890 lab_results for this beach, out of a total of 15197 results across beaches.

In [24]:
dna_samples = lab_results.loc[~lab_results['dna_reading_mean'].isnull()]
dna_exceed = len(dna_samples.loc[dna_samples['dna_reading_mean'] >= 235])
dna_samples = len(dna_samples)
culture_samples = lab_results.loc[~lab_results['culture_reading_mean'].isnull()]
culture_exceed = len(culture_samples.loc[culture_samples['culture_reading_mean'] >= 235])
culture_samples = len(culture_samples)
print("There are %s DNA samples, of which %s exceed 235cfu (%s perc).  There are %s culture samples, of which, %s exeed 235 cfu (%s perc)" %
      (str(dna_samples), str(dna_exceed), str(dna_exceed / dna_samples),
       str(culture_samples), str(culture_exceed), str(culture_exceed / culture_samples)))

There are 842 DNA samples, of which 211 exceed 235cfu (0.2505938242280285 perc).  There are 14964 culture samples, of which, 2116 exeed 235 cfu (0.1414060411654638 perc)