In [16]:
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

print("This is as of " + str(datetime.now()))

This is as of 2017-06-27 18:53:53.205250

In [2]:
# Get the latest data from the Chicago data portal right now
%run "Get beach_days from API.ipynb"
beach_days.head()

Deleting columns:
There are 20 beaches

,dna_reading_mean,dna_test_id,location,date,beach_name,predicted_level
0,147.648231,3390,"{'type': 'Point', 'coordinates': [-87.6385, 41...",2017-06-27,Montrose,NaN
1,528.408933,3405,"{'type': 'Point', 'coordinates': [-87.5636, 41...",2017-06-27,South Shore,NaN
2,167.367858,3425,"{'type': 'Point', 'coordinates': [-87.703717, ...",2017-06-27,Humboldt,NaN
3,42.000000,3391,"{'type': 'Point', 'coordinates': [-87.6515, 41...",2017-06-27,Foster,104.7
4,15.811388,3388,"{'type': 'Point', 'coordinates': [-87.6235, 41...",2017-06-27,Oak Street,81.7

In [3]:
# How many days of samples were taken
print("Samples were taken across %s days" % len(beach_days['date'].unique()))

Samples were taken across 33 days

In [4]:
print("There are %s total beach-days, and %s unique predictions" %
     (str(len(beach_days)), str(len(beach_days.loc[~beach_days['predicted_level'].isnull()]))))

There are 655 total beach-days, and 457 unique predictions

In [5]:
# Get the last measurement taken for each beach
last_measurement = beach_days.sort_values('date', ascending=False).drop_duplicates('beach_name', keep='first')
last_measurement

,dna_reading_mean,dna_test_id,location,date,beach_name,predicted_level
0,147.648231,3390,"{'type': 'Point', 'coordinates': [-87.6385, 41...",2017-06-27,Montrose,NaN
11,573.993902,3365,"{'type': 'Point', 'coordinates': [-87.5299, 41...",2017-06-27,Calumet,NaN
1,528.408933,3405,"{'type': 'Point', 'coordinates': [-87.5636, 41...",2017-06-27,South Shore,NaN
20,372.612399,3393,"{'type': 'Point', 'coordinates': [-87.6647, 42...",2017-06-27,Marion Mahony Griffin (Jarvis),78.6
19,68.190908,3392,"{'type': 'Point', 'coordinates': [-87.6564, 42...",2017-06-27,Hartigan (Albion),91.1
18,136.128616,3428,"{'type': 'Point', 'coordinates': [-87.6663, 42...",2017-06-27,Howard,105.3
17,27.294688,3426,"{'type': 'Point', 'coordinates': [-87.6545, 41...",2017-06-27,Osterman,149.6
16,255.147016,3407,"{'type': 'Point', 'coordinates': [-87.6072, 41...",2017-06-27,Margaret T Burroughs (31st),197.3
14,56.568542,3395,"{'type': 'Point', 'coordinates': [-87.6666, 42...",2017-06-27,Rogers,129.2
13,789.897462,3387,"{'type': 'Point', 'coordinates': [-87.6083, 41...",2017-06-27,12th Street,141.2
12,73.321211,3366,"{'type': 'Point', 'coordinates': [-87.5797, 41...",2017-06-27,57th Street,104.3
15,1138.307955,3367,"{'type': 'Point', 'coordinates': [-87.6152, 41...",2017-06-27,Ohio Street,108.7
10,251.129449,3406,"{'type': 'Point', 'coordinates': [-87.5748, 41...",2017-06-27,63rd Street,NaN
5,96.886532,3386,"{'type': 'Point', 'coordinates': [-87.5976, 41...",2017-06-27,Oakwood,81.8
9,415.947112,3427,"{'type': 'Point', 'coordinates': [-87.6635, 42...",2017-06-27,Leone,87.7
3,42.000000,3391,"{'type': 'Point', 'coordinates': [-87.6515, 41...",2017-06-27,Foster,104.7
4,15.811388,3388,"{'type': 'Point', 'coordinates': [-87.6235, 41...",2017-06-27,Oak Street,81.7
2,167.367858,3425,"{'type': 'Point', 'coordinates': [-87.703717, ...",2017-06-27,Humboldt,NaN
6,317.108814,3389,"{'type': 'Point', 'coordinates': [-87.6273, 41...",2017-06-27,North Avenue,85.4
8,326.352570,3385,"{'type': 'Point', 'coordinates': [-87.551, 41....",2017-06-27,Rainbow,NaN

In [6]:
last_measurement.loc[last_measurement['dna_reading_mean'] > 1000]

,dna_reading_mean,dna_test_id,location,date,beach_name,predicted_level
15,1138.307955,3367,"{'type': 'Point', 'coordinates': [-87.6152, 41...",2017-06-27,Ohio Street,108.7

In [7]:
# This is no fun to look at since there is only one sample exceeding the threshold.  Let's see what would happen if
# today were 6/14/2017

In [8]:
june_14 = pd.to_datetime("June 14, 2017").date()
beach_days = beach_days.loc[beach_days['date'] <= june_14]
last_measurement = beach_days.sort_values('date', ascending=False).drop_duplicates('beach_name', keep='first')
last_measurement.loc[last_measurement['dna_reading_mean'] > 1000].sort_values('dna_reading_mean', ascending=False)

,dna_reading_mean,dna_test_id,location,date,beach_name,predicted_level
279,2519.698196,2926,"{'type': 'Point', 'coordinates': [-87.6385, 41...",2017-06-14,Montrose,NaN
262,2244.110291,2878,"{'type': 'Point', 'coordinates': [-87.5748, 41...",2017-06-14,63rd Street,NaN
264,1359.615019,2879,"{'type': 'Point', 'coordinates': [-87.5797, 41...",2017-06-14,57th Street,156.5
272,1345.218198,2880,"{'type': 'Point', 'coordinates': [-87.5976, 41...",2017-06-14,Oakwood,128.6
268,1034.629886,2881,"{'type': 'Point', 'coordinates': [-87.6072, 41...",2017-06-14,Margaret T Burroughs (31st),436.5

In [18]:
beaches_last_exceeding = list(last_measurement.loc[last_measurement['dna_reading_mean'] > 1000]\
                              .sort_values('dna_reading_mean', ascending=False)['beach_name'].unique())
print(beaches_last_exceeding)

['Montrose', '63rd Street', '57th Street', 'Oakwood', 'Margaret T Burroughs (31st)']

In [24]:
# Let's look at these beaches over the last five days
streaks = {_: [] for _ in beaches_last_exceeding}
the_date = june_14
stop = False
while not stop:
    added = False
    bs = beach_days.loc[(beach_days['date'] == the_date) & (beach_days['beach_name'].isin(beaches_last_exceeding))]
    for reading in bs.to_dict('records'):
        if reading['dna_reading_mean'] > 1000:
            streaks[reading['beach_name']].append(reading)
            added = True
        else:
            beaches_last_exceeding.remove(reading['beach_name'])
    if not added:
        stop = True
    the_date = the_date - timedelta(days=1)
beaches_last_exceeding = list(last_measurement.loc[last_measurement['dna_reading_mean'] > 1000]\
                              .sort_values('dna_reading_mean', ascending=False)['beach_name'].unique())
streaks

{'57th Street': [{'beach_name': '57th Street',
   'date': datetime.date(2017, 6, 14),
   'dna_reading_mean': 1359.61501904,
   'dna_test_id': 2879,
   'location': {'coordinates': [-87.5797, 41.7911], 'type': 'Point'},
   'predicted_level': 156.5},
  {'beach_name': '57th Street',
   'date': datetime.date(2017, 6, 13),
   'dna_reading_mean': 2036.163058304,
   'dna_test_id': 2886,
   'location': {'coordinates': [-87.5797, 41.7911], 'type': 'Point'},
   'predicted_level': 150.6}],
 '63rd Street': [{'beach_name': '63rd Street',
   'date': datetime.date(2017, 6, 14),
   'dna_reading_mean': 2244.110291407,
   'dna_test_id': 2878,
   'location': {'coordinates': [-87.5748, 41.7827], 'type': 'Point'},
   'predicted_level': nan},
  {'beach_name': '63rd Street',
   'date': datetime.date(2017, 6, 13),
   'dna_reading_mean': 9386.07404616,
   'dna_test_id': 2867,
   'location': {'coordinates': [-87.5748, 41.7827], 'type': 'Point'},
   'predicted_level': nan}],
 'Margaret T Burroughs (31st)': [{'beach_name': 'Margaret T Burroughs (31st)',
   'date': datetime.date(2017, 6, 14),
   'dna_reading_mean': 1034.629885515,
   'dna_test_id': 2881,
   'location': {'coordinates': [-87.6072, 41.8393], 'type': 'Point'},
   'predicted_level': 436.5}],
 'Montrose': [{'beach_name': 'Montrose',
   'date': datetime.date(2017, 6, 14),
   'dna_reading_mean': 2519.698196213,
   'dna_test_id': 2926,
   'location': {'coordinates': [-87.6385, 41.9655], 'type': 'Point'},
   'predicted_level': nan},
  {'beach_name': 'Montrose',
   'date': datetime.date(2017, 6, 13),
   'dna_reading_mean': 3619.694185978,
   'dna_test_id': 2872,
   'location': {'coordinates': [-87.6385, 41.9655], 'type': 'Point'},
   'predicted_level': nan}],
 'Oakwood': [{'beach_name': 'Oakwood',
   'date': datetime.date(2017, 6, 14),
   'dna_reading_mean': 1345.218197914,
   'dna_test_id': 2880,
   'location': {'coordinates': [-87.5976, 41.8211], 'type': 'Point'},
   'predicted_level': 128.6}]}

In [34]:
# How about looking over the last 7 days?
ten_days_ago = june_14 - timedelta(days=7)
beach_days.loc[(beach_days['date'] >= ten_days_ago) &
               (beach_days['dna_reading_mean'] >= 1000)]

,dna_reading_mean,dna_test_id,location,date,beach_name,predicted_level
262,2244.110291,2878,"{'type': 'Point', 'coordinates': [-87.5748, 41...",2017-06-14,63rd Street,NaN
264,1359.615019,2879,"{'type': 'Point', 'coordinates': [-87.5797, 41...",2017-06-14,57th Street,156.5
268,1034.629886,2881,"{'type': 'Point', 'coordinates': [-87.6072, 41...",2017-06-14,Margaret T Burroughs (31st),436.5
272,1345.218198,2880,"{'type': 'Point', 'coordinates': [-87.5976, 41...",2017-06-14,Oakwood,128.6
279,2519.698196,2926,"{'type': 'Point', 'coordinates': [-87.6385, 41...",2017-06-14,Montrose,NaN
285,3619.694186,2872,"{'type': 'Point', 'coordinates': [-87.6385, 41...",2017-06-13,Montrose,NaN
286,2036.163058,2886,"{'type': 'Point', 'coordinates': [-87.5797, 41...",2017-06-13,57th Street,150.6
290,1323.716359,2866,"{'type': 'Point', 'coordinates': [-87.551, 41....",2017-06-13,Rainbow,NaN
291,1284.952917,2871,"{'type': 'Point', 'coordinates': [-87.703717, ...",2017-06-13,Humboldt,NaN
292,9386.074046,2867,"{'type': 'Point', 'coordinates': [-87.5748, 41...",2017-06-13,63rd Street,NaN
316,1277.744888,2825,"{'type': 'Point', 'coordinates': [-87.5299, 41...",2017-06-12,Calumet,NaN
320,1709.984210,2835,"{'type': 'Point', 'coordinates': [-87.703717, ...",2017-06-12,Humboldt,NaN
345,3130.439266,2741,"{'type': 'Point', 'coordinates': [-87.6385, 41...",2017-06-10,Montrose,NaN
354,1397.597939,2765,"{'type': 'Point', 'coordinates': [-87.5748, 41...",2017-06-10,63rd Street,NaN
416,1214.281269,2673,"{'type': 'Point', 'coordinates': [-87.6666, 42...",2017-06-07,Rogers,30.9