In [1]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [7]:
advisory_records = pd.read_csv('data/Beach_Swim_Advisories.csv')
advisory_records.head()

,Beach Name,Date,Predicted Level,Probability,Swim Advisory,RecordID
0,Calumet,06/04/2016,33.8,0.107,N,Calumet20160604
1,63rdStreet,06/04/2016,33.6,0.106,N,63rdStreet20160604
2,OakStreet,06/04/2016,18.9,0.018,N,OakStreet20160604
3,Foster,06/04/2016,14.9,0.021,N,Foster20160604
4,Montrose,06/04/2016,101.5,0.277,N,Montrose20160604

In [9]:
beach_advisories = advisory_records.loc[advisory_records['Swim Advisory'] == 'Y']
beach_advisories.head()

,Beach Name,Date,Predicted Level,Probability,Swim Advisory,RecordID
49,Montrose,06/10/2016,423.7,0.661,Y,Montrose20160610
85,Montrose,06/15/2016,254.7,0.523,Y,Montrose20160615
157,Montrose,06/23/2016,740.9,0.791,Y,Montrose20160623
158,Osterman,06/23/2016,284.3,0.558,Y,Osterman20160623
181,63rdStreet,06/26/2016,380.3,0.621,Y,63rdStreet20160626

In [10]:
print("There were %s swim advisories in 2016" % len(beach_advisories))

There were 44 swim advisories in 2016

In [17]:
# Number of swim advisories per beach, 2016
beach_advisories.groupby('Beach Name').count()['Predicted Level'].sort_values(ascending=False)

Beach Name
Montrose      18
Osterman       8
Calumet        6
63rdStreet     5
Rainbow        4
Foster         2
Leone          1
Name: Predicted Level, dtype: int64

In [18]:
# All the beaches in the dataset, including those with only NO ADVISORIES
advisory_records.groupby('Beach Name').count()['Predicted Level'].sort_values(ascending=False)

Beach Name
Rainbow       108
Osterman      108
Ohio          108
OakStreet     108
Montrose      108
Leone         108
Foster        108
Calumet       108
63rdStreet    108
Name: Predicted Level, dtype: int64